
--- Page 1 ---
Unibuc  Robotics              2025  -  2026  
  3D  Printing  and  Modeling  Final  Project  Requirements  
 1.   Description   
Dear
 
students,
 
the
 
time
 
has
 
come
 
for
 
you
 
to
 
deliver
 
a
 
final
 
project.
 
You
 
must
 
create
 
your
 
own,
 
finished
 
product,
 
keeping
 
in
 
mind
 
that
 
it
 
needs
 
to
 
be
 
printable.
 
The
 
product
 
can
 
contain
 
non-3D
 
printed
 
parts
 
to
 
your
 
discretion,
 
but
 
must
 
remain
 
primarily
 
3D
 
printable.
 
 
 
 2.   Requirements   
The
 
total
 
grade
 
of
 
10
 
is
 
split
 
into
 
the
 
following:
   Design  Quality  -  5  Points    Movement  -  1  Point    Printability  -  2  Points    Publishing  -  2  Points   
3.   Design  Quality  Design  Quality  refers  to  the  quality  of  your  work  from  start  to  finish.  Your  task  
is
 
to
 
create
 
your
 
own
 
product
 
starting
 
from
 
any
 
inspiration
 
sources
 
you
 
wish.
 
You
 
are
 
not
 
allowed
 
to
 
simply
 
copy
 
an
 
existing
 
design.
 
Your
 
design
 
must
 
serve
 
a
 
purpose,
 
make
 
sense
 
and
 
you
 
must
 
be
 
able
 
to
 
explain
 
how
 
it
 
works
 
and
 
why
 
it
 
works.
 
When
 
starting
 
from
 
a
 
design
 
already
 
found
 
online,
 
you
 
must
 
be
 
able
 
to
 
articulate
 
what
 
your
 
contribution
 
is
 
and
 
how
 
you
 
approached
 
redesigning
 
it.
 Design  Quality  also  refers  to  your  work  inside  of  Fusion  360 .  You  must  work  
as
 
cleanly
 
as
 
possible,
 
following
 
the
 
same
 
set
 
of
 
rules
 
you
 
did
 
for
 
homework.
 
(Naming
 
your
 
sketches,
 
organising
 
your
 
components,
 
etc.)
  
4.   Movement  As  mentioned  before,  your  project  MUST  include  movement  in  its  design.  It  
needs
 
to
 
have
 
at
 
least
 
one
 
motion
 
link
 
and
 
one
 
motion
 
study
 
to
 
animate
 
your
 
product.
 
 
3D  Printing  and  Modeling           1               Final  Project  

--- Page 2 ---
Unibuc  Robotics              2025  -  2026  
 
5.   Printability  As  the  name  suggests,  it  refers  to  how  easy  it  is  to  3D  print  your  product .  
You
 
do
 
not
 
have
 
to
 
print
 
your
 
project,
 
but
 
you
 
must
 
consider
 
how
 
it
 
could
 
be
 
printed
 
when
 
designing
 
it.
 
Make
 
sure
 
you
 
break
 
up
 
your
 
model
 
into
 
components
 
/
 
bodies
 
that
 
can
 
each
 
be
 
3D
 
printed.
 
Try
 
designing
 
your
 
components
 
so
 
they
 
require
 
as
 
little
 
support
 
as
 
possible
 
when
 
printed.
 
Chamfer
 
/
 
fillet
 
your
 
edges,
 
consider
 
printing
 
orientation
 
for
 
strength,
 
include
 
appropriate
 
tolerances,
 
split
 
larger
 
bodies
 
that
 
might
 
not
 
fit
 
on
 
a
 
build
 
plate
 
etc.
 
 Obviously,  not  every  component  can  be  printed  without  supports,  but  you  will  
lose
 
points
 
for
 
components
 
that
 
could
 
have
 
easily
 
been
 
designed
 
better
 
to
 
fit
 
these
 
requirements.
  
6.   Publishing  task:  Github  ReadMe   
For
 
the
 
final
 
project,
 
you
 
must
 
create
 
a
 
new,
 
public
 
github
 
repository.
 
This
 
repository
 
will
 
contain
 
all
 
the
 
details
 
of
 
the
 
project,
 
similar
 
to
 
a
 
journal
 
detailing
 
how
 
you
 
approached
 
the
 
task.
   It  MUST  contain:  1.  Detailed  project  description;  2.  All  project  files  used;  (.f3d  project,  STL  file(s),  g  code  files  for  all  
printable
 
components)
 3.  Link  to  a  video  showcasing  functionality  (record  your  screen  while  
playing
 
your
 
motion
 
links,
 
showing
 
how
 
it
 
could
 
be
 
assembled,etc.
 
Upload
 
ideally
 
to
 
Youtube
);
 4.  A  list  of  components  /  parts  used,  including  their  purpose;  5.  List  of  resources  used;  6.  Anything  else  you  believe  to  be  necessary;      As  there  is  no  list  of  projects  from  last  year,  I  will  leave  a  few  example  repos  
from
 
this
 
year’s
 
“Introduction
 
to
 
Robotics”
 
course.
 
Evidently,
 
not
 
everything
 
in
 
these
 
pages
 
will
 
apply
 
to
 
your
 
project
 
(ex:
 
you
 
do
 
not
 
need
 
to
 
write
 
any
 
code),
 
so
 
treat
 
them
 
more
 
as
 
inspiration
 
than
 
templates:
  -  Introduction  to  Robotics -  Robotics  Crane  Project -  Color-Sorting  Trash  Bin -  We  got  a  Space  Problem -  Productivity  Bloom  If  you  are  unfamiliar  with  creating  your  own  Readme,  the  best  approach  is  to  start  by  copying  someone  else’s.  Here’s  a  list of  existing  github  projects,  each  
3D  Printing  and  Modeling           2               Final  Project  

--- Page 3 ---
Unibuc  Robotics              2025  -  2026  
with  a  decent  Readme  file.  You  can  clone any  of  these  and  open  Readme.md  in  your  own  text  editor  to  see  how  it  was  created.   
7.   Deadlines  20.05.2026  -  Link  to  your  repository  in  the  assignment.   02.06.2026  -  Final  commit.
 
              
 
         
 
3D  Printing  and  Modeling           3               Final  Project  